<div class="pt-5">
  <div class="navigation-link">
    <%= link_to restaurants_path, class: "nav-button" do %>
      <i class="fas fa-home"> Home</i>
    <% end %>
    <%= link_to new_restaurant_path, class: "nav-button" do %>
    <i class="fas fa-utensils"> Add</i>
    <% end %>
  </div>
</div>
