<div class="container mt-5">
  <h1 class="mb-5">Welcome to Yelp</h1>
    <div class="row">
      <% @restaurants.each do |restaurant| %>
        <div class="col-6 col-md-3">
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
            <p> <%= restaurant.address %> <br>
            Category: <%= restaurant.category.capitalize %> <br>
            Phone Number: <%= restaurant.phone_number %></p>
        </div>
      <% end %>
    </div>
</div>
