<div class="container mt-5">

  <h1><%= @restaurant.name %> Reviews</h1>

      <% @restaurant.reviews.each_with_index do |review, index| %>
    <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <div class="notification-content">
        <p><small> <%= review.rating %> stars</small></p>
        <p>Comment: <%= review.content %></p>
      </div>
      </div>
    <% end %>
  <%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
</div>
