<div class="container mt-5">
  <h1><%= @restaurant.name %></h1>


  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %></li>
    <% end %>
  </ul>
  <%= link_to "Back Home", restaurants_path %>
  <%= link_to "Write a review", new_restaurant_review_path(@restaurant) %>
</div>
