.reviews {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  border: 1px solid rgb(235,235,235);
  border-radius: 10px;
  .reviews-content {
    flex-grow: 1;
    margin: 0 12px;
  }
  p {
    margin: 0;
    line-height: 2;
  }
  small {
    color: #999999;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .reviews-content {
  font-size: 13px;
  }
}
